<div class="container">
  <h2 class="mt-5 mb-4 text-center">Lista de Pizzas</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let pizza of pizzas; let i = index">
      <div class="card h-100">
        <img class="card-img-top" [src]="imagens[i]" alt="{{ pizza.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ pizza.nome }}</h5>
          <p class="card-text">{{ pizza.descricao }}</p>
          <p class="card-text">R$ {{ pizza.preco }}</p>
          
          <button (click)="addToCart(pizza)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-cart></app-cart>
